@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron vertical-center">
    <div class="text-center">
        <h1 class="display-4">Columbo Security Token Service</h1>
        <div>
            Witaj na stronie usługi zarządzającej tokenami autoryzacyjnymi w systemie Columbo.
        </div>
        <p><a href="/.well-known/openid-configuration">Konfiguracja usługi.</a></p>
    </div>
</div>
